<div class="container">
    <div class="row rowHeight">
      <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3 simpleBorder">
        <div #colorList="cdkDropList"
            cdkDropList 
            [cdkDropListData]="colorsList"
            [cdkDropListConnectedTo]="stageList"
            (cdkDropListDropped)="drop($event,'color')">
            <div cdkDrag class="colorBox" *ngFor="let c of colorsList" [ngStyle]="{'background-color': c}"></div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 simpleBorder">
        <div class="stage" 
            #stageList="cdkDropList"
            cdkDropList
            [cdkDropListData]="stageObjList"
            [cdkDropListConnectedTo]="colorList"
            (cdkDropListDropped)="drop($event,'stage')">
            <div cdkDrag class="colorBox" *ngFor="let o of stageObjList" [ngStyle]="{'background-color': o.color}">
                <img *ngIf="o.image !=''" class="image opac" src="{{ o.image }}">
            </div>
        </div>
      </div>
      <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3 simpleBorder">
        <div #imagesList="cdkDropList"
            cdkDropList
            [cdkDropListData]="imageList"
            [cdkDropListConnectedTo]="stageList"
            (cdkDropListDropped)="drop($event,'image')">
            <div cdkDrag class="imgBox" *ngFor="let i of imageList">
                <img class="image" src="{{ i }}">
            </div>
        </div>
      </div>
    </div>
</div>